@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #dddddd;
    font-family: "Poppins", sans-serif;
}

.fundotext{
    background: #fff;
    height: 450px;
    width: 1275px;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.title{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.section{
    display: flex;
}
